SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

XENDIT_SECRET_KEY=
XENDIT_CALLBACK_TOKEN=
XENDIT_INVOICE_DURATION=

PAYMENT_SUCCESS_URL=
PAYMENT_FAILURE_URL=

DEEPSEEK_API_KEY=
DEEPSEEK_MODEL=