.env
.env.local
.env.*.local
.env.development
.env.production
node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
.pem
seed/
.npm
.eslintcache
coverage/